@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


body {
    font-family: 'Spectral', serif;
    margin: 0;
}

.title-box {
    position: relative;
    overflow: hidden;
    top: 0;
    height: 650px;
    padding-bottom: 50px;
    background-image: url(DJI_0194.JPG);
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20%;
}

.title-box-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.title-box h3 {
    font-family: 'Spectral', serif;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 150px;
    line-height: 12px;
    color: #fff;
}

.title-box h1 {
    font-family: 'Spectral', serif;
    font-size: 75px;
    font-weight: 600;
    margin: 0px;
    text-align: center;
    color: #fff;
}

.title-box p {
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
    width: 400px;
    margin-top: 35px;
    text-align: center;
    color: #fff;
}

@media (max-width: 576px) {
    .title-box {
        height: 500px;
    }

    .title-box h3 {
        font-family: 'Spectral', serif;
        font-size: 30px;
        font-weight: 500;
        text-align: center;
    }

    .title-box h1 {
        font-family: 'Spectral', serif;
        font-size: 45px;
        font-weight: 600;
        margin: 0px;
        text-align: center;
        color: #fff;
    }

    .title-box p {
        font-size: 15px;
        font-weight: 500;
        font-style: italic;
        width: 300px;
        margin-top: 15px;
        text-align: center;
        color: #fff;
    }
}

#nav-bar {
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 100;
    overflow: hidden;
}

.nav-logo {
    width: 25px;
    margin-top: 10px;
    fill: rgb(255, 255, 255);
    margin-left: 25px;
}

nav {
    color: #fff;
    max-height: 50px;
    width: 1500px;
    margin: auto;
    overflow: hidden;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: underline;
}

ul {
    margin: 0;
    padding: 0;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.about-text {
    padding: 25px;
}

.about-text h1 {
    text-align: center;
}

.about-photo {
    margin: 25px;
    flex: 1 0 100%;
    min-width: 100px;
    min-height: 100px;
}

.about-photo img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 900px) {

    .about-text,
    .about-photo {
        flex: 1;
    }
}

@media (max-width: 900px) {
    .about-content {
        flex-direction: column;
    }

    .about-photo {
        min-height: 100px;
    }
}

.container {
    max-width: 1500px;
    margin: auto;
}

#Donate {
    position: relative;
    background-color: #f4f4f4;
    padding: 20px;
    margin-top: 50px;
    transition: all 0.3s ease-in-out;
    border: solid 1px transparent;
}

.donate-content-title {
    text-align: center;
    color: #333;
}

.donate-content-block {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

#Donate:hover {
    background-color: #ffffff;
    border-color: #333;
}

.donate-content-block button {
    font-family: 'Spectral', serif;
    font-weight: 600;
    font-size: 15px;
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, .06);
    transition: all 0.3s ease-in-out;
}

.donate-content-block button:hover {
    background-color: #444;
    scale: 1.02;
    box-shadow: 0 2px 0 0 rgb(255, 255, 255);
}

#Church {
    position: relative;
    padding: 20px;
    margin-top: 50px;
    transition: all 0.3s ease-in-out;
    border: solid 1px transparent;
}

#Church::before {
    content: "";
    background-image: url(Photos/20240420_151234_0_1713779414998_1.jpg);
    background-position: bottom;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
    z-index: -1;
}

.church-content-title {
    text-align: center;
    color: #fff;
}

.church-content-block {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    color: #fff;
}

#my-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.projects {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}

.projects-content-title {
    padding-left: 50px;
    background-color: #333;
    margin-bottom: 20px;
    padding: 10px 50px;
}

.projects-content-title h1 {
    font-family: 'Spectral', serif;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    margin: 0px;
}

.projects-content-block {
    margin: 0px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 5px;
    gap: 15px;
}

.projects-photo {
    max-width: 650px;
    aspect-ratio: 16/9;
    min-height: 100px;
    overflow: hidden;
}

.projects-photo img {
    width: 100%;
    margin: auto;
}

.projects-text {
    width: 600px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    padding: 25px 50px;
    margin: 25px 0px;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
}

.showMoreButton {
    align-self: flex-start;
    margin-bottom: 10px;
    margin-top: 25px;
    font-family: 'Spectral', serif;
    font-size: 14px;
    font-weight: 600;
    background-color: #fff;
    border: none;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
}

.moreProjectsButton {
    font-family: 'Spectral', serif;
    font-weight: 600;
    font-size: 15px;
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.moreProjectsButton:hover {
    background-color: #444;
    scale: 1.02;
    box-shadow: 0 2px 0 0 rgb(255, 255, 255);
}

@media (max-width: 576px) {
    .projects-content-block {
        margin: 15px 25px;

    }

    .projects-content-title h1 {
        font-size: 20px;
    }

    .projects-photo {
        position: relative;
        width: 600px;
    }

    .projects-text {
        padding: 15px;
        min-height: 300px;
    }
}

@media (max-width: 1000px) {
    .projects-content-block {
        margin: 15px 25px;
        flex-wrap: wrap;
    }

    .projects-content-title h1 {
        font-size: 25px;
    }

    .projects-photo {
        position: relative;
    }

    .projects-text {
        padding: 15px;
        min-height: 350px;
    }
}

@media (max-width: 1450px) {
    .projects-text {
        width: auto;
        min-height: 100px;
        overflow: hidden;
    }
}

.Events-content-title {
    padding-left: 50px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.Events-content-title h1 {
    font-family: 'Spectral', serif;
    font-size: 30px;
    font-weight: 500;
    color: #000;
}

.Events-content-block {
    margin-bottom: 100px;
}

.Events-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px;
    width: 400px;
    background-color: #eee;
    padding: 15px;
}

.Events-card-photo {
    width: 100%;
    height: 300px;
    background-color: #ddd;
    margin-bottom: 15px;
}

.Events-card-title {
    font-family: 'Spectral', serif;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 0px;
    color: #000;
}

.Events-card-text {
    height: 200px;
}

.Events-card-label {
    background-color: #fff;
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Events-card-label p {
    color: #000;
    font-style: italic;
}

@media (max-width: 576px) {
    .Events-content-block {
        margin: 15px 25px;
    }

    .Events-content-title h1 {
        font-size: 25px;
    }

    .Events-card {
        height: 500px;
        width: 300px;
    }

    .Events-card-photo {
        width: 100%;
        height: 200px;
    }

    .Events-card-title {
        font-size: 20px;
    }

    .Events-card-text {
        height: fit-content;
    }
}

@media (max-width: 900px) {
    .Events-content-block {
        margin: 15px 25px;
    }

    .Events-content-title h1 {
        font-size: 25px;
    }

    .Events-card {
        height: 500px;
        width: 300px;
    }

    .Events-card-photo {
        width: 100%;
        height: 200px;
    }

    .Events-card-title {
        font-size: 20px;
    }

    .Events-card-text {
        height: fit-content;
    }
}

.carousel {
    width: 90%;
    margin: 0 auto;
}

.carousel .slick-slide {
    margin: 0 10px;
}

.carousel .slick-list {
    margin: 0 -10px;
}

.parent-container {
    position: relative;
}

.custom-prev,
.custom-next {
    font-size: 0px;
    margin-top: 15px;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    z-index: 1;
    background-color: #eee;
}

.custom-prev {
    left: 0;
    margin-left: 5%;
}

.custom-next {
    right: 0;
    margin-left: 13px;
}

.custom-prev:hover,
.custom-next:hover {
    background-color: #ddd;
    cursor: pointer;
}

.custom-prev:active,
.custom-next:active {
    background-color: #aaa;
    cursor: pointer;
}

.slick-track {
    overflow: hidden !important;
}

#Contact {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 50px;
}

.contact-content-title {
    text-align: center;
    color: #333;
}

.contact-content-block {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    padding-bottom: 25px;
}

.contact-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 25px;
}

.contact-main {
    font-weight: bold;
    padding-right: 10px;
}

.contact-icons a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.contact-icons img {
    height: 20px;
    margin-right: 10px;
}

footer {
    background-color: #333;
    color: #ddd;
    padding-top: 25px;
    text-align: center;
    height: 100px;
    width: 100%;
    overflow: hidden;
    font-size: 12px;
}